.toolbar {
	display: flex;
	justify-content: space-between;
}

.section {
    display: flex;
    align-items: center;
}

.section :not(:last-child) {
    margin-right: 10px;
}

h1 {
	cursor: pointer;
	font-size: inherit;
	transition: font-size ease 0.5s;
}

h1:focus {
	outline: none;
}

h1:hover {
	font-size: 1.05em;
}

.profile-picture {
	border-radius: 10px;
	width: 30px;
}
