<mat-toolbar color="primary">
	<mat-toolbar-row class="toolbar">
        <div class="section">
            <button mat-icon-button *ngIf="router.url !== '/login'" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
            <h1 [routerLink]="['/home']">Tracking Manager</h1>
        </div>


		<button mat-button *ngIf="authService.isLoggedIn() && currentUser" (click)="authService.logout()">
			<img class="profile-picture" [src]="currentUser.profilePicture">
			{{ currentUser.fullName }}
        </button>

        <!--<firebase-ui *ngIf="!authService.isLoggedIn()"></firebase-ui>-->
        <div id="signin-with-google" [hidden]="authService.isLoggedIn()"></div>
	</mat-toolbar-row>
</mat-toolbar>
