<form class="modal-container" #form="ngForm" autocomplete="off">
	<div>
		<h1 mat-dialog-title>Enter the room you want to join</h1>
		<p class="description">The manager of this room will be able to track your position once you accept. The geo localisation will only occur when this site is opened and you have joined a room.</p>
	</div>

	<div class="full-width" mat-dialog-content>
		<mat-form-field class="zone-input">
			<input matInput placeholder="Enter room name" [(ngModel)]="currentRoom"  name="roomInput" #roomInput="ngModel" required>
			<mat-error *ngIf="!roomInput.valid">You must enter a room name</mat-error>
        </mat-form-field>

        <mat-form-field class="zone-input">
			<input type="password" matInput placeholder="Room password" [(ngModel)]="password"  name="roomPassword" #roomPassword="ngModel" required>
			<mat-error *ngIf="!roomPassword.valid">You must enter a password</mat-error>
		</mat-form-field>
	</div>

	<div mat-dialog-actions align="end">
		<button mat-button color="primary" (click)="joinRoom()" [disabled]="!form.valid">Join</button>
	</div>
</form>
