<tm-toolbar [sidenav]="sidenav"></tm-toolbar>

<mat-sidenav-container class="website-container">

    <mat-sidenav class="sidenav" #sidenav>
        <mat-nav-list>
            <mat-list-item [routerLink]="['/track']" (click)="sidenav.close()">
                <mat-icon color="primary" matListIcon>home</mat-icon>Join Room
            </mat-list-item>
            <mat-list-item [routerLink]="['/manage']" (click)="sidenav.close()">
                <mat-icon color="primary" matListIcon>library_books</mat-icon>Create Room
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <div class="main-container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
